.UserContacts {
    width: 30%;
    height: 100%;
}

.UserContacts span {
    padding: 50px;
    text-transform: uppercase;
    font-size: 32px;
    color: #D2006B;
}

.UserContacts ul {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.UserContacts li {
    overflow: hidden;
    height: 36px;
    margin-top: 20%;
    list-style-type: none;
}

.UserContacts li:before {
    content: "◆";
    color: #009D91;
    padding-right: 5%;
}

.UserContacts li:hover:before {
    content: "◆";
    color: #D2006B;
}


.UserContacts a {
    font-size: 26px;
    color: #009D91;
    text-decoration: none;
}

.UserContacts a:hover {
    font-size: 32px;
    color: #D2006B;
}

.UserContacts a.active {
    font-size: 32px;
    color: #D2006B;
}