.UserContacts {
    width: 30%;
    height: 100%;
}

.UserContacts h1 {
    /* padding: 50px; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    color: #D2006B;
    /* padding-bottom: 15%; */
}

.UserContacts .UserList {
    width: 100%;
    height: calc(100% - 38px - 48px);
    overflow: auto;
}

.UserContacts .UserList li {
    overflow: hidden;
    /* height: 36px; */
    margin-top: 20%;
    /* list-style-type: none; */
}

.UserContacts .UserList li:before {
    /* content: "◆"; */
    color: #009D91;
    padding-right: 5%;
}

.UserContacts .UserList li:hover:before {
    /* content: "◆"; */
    color: #D2006B;
}

.UserContacts a {
    font-size: 26px;
    color: #009D91;
    text-decoration: none;
}

.UserContacts a:hover {
    /* font-size: 32px; */
    color: #D2006B;
}

.UserContacts a.active {
    /* font-size: 32px; */
    color: #D2006B;
}

.UserContacts .SearchUsers {
    border-radius: 48px;
    border: 3px solid #009D91;
    width: 80%;
    height: 48px;
    padding: 16px;
}

.UserContacts .NewChat {
    display: flex;
    justify-content: space-between;
}

.UserContacts .CreateGroup {
    background: none;
    border: none;
    fill: #009D91;
    height: 48px;
    width: 48px;
}