.ProfileUserPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.ProfileUserPosts .CreateNewPost {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
}

.ProfileUserPosts .CreateNewPost .InputField {
    margin: 1%;
    width: 100%;
    min-height: 50px;
    height: auto;
    background-color: rgb(218, 218, 218);
    padding: 16px;
    border-radius: 48px;
    box-sizing: border-box;
}

.ProfileUserPosts .CreateNewPost .SubmitButton {
    cursor: pointer;
    align-self: flex-end;
    width: 10%;
    height: 30px;
    color: white;
    text-transform: uppercase;
    background-color: #D2006B;
}

.ProfileUserPosts .AllPosts {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
}