.NavigationSideBar {
    width: 20%;
    height: 500px;
    background-color: #009D91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NavigationSideBar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 2;
    background-color: #D2006B;
    width: 80%;
    text-align: center;
    margin: auto;
}

.NavigationSideBar a:hover {
    color: #009D91;
}
.NavigationSideBar a.active {
    color: #009D91;
}