.Header {
    height: 60px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #009D91;
}

.Header_wrapper {
    margin: 0 auto;
    width: 1170px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Header_logout {
    height: 32px;
    padding: 8px;
    background-color: #D2006B;

    border: none;
    border-radius: 8px;

    color: white;
}