.DialogInputField {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 15%;
    max-height: 30%;
}

.DialogInputField .InputField {
    border-radius: 30px;
    border: 3px solid #009D91;
    width: 80%;
    height: 40%;
}

.DialogInputField .Send {
    width: 10%;
    height: 40%;
    background-color: #D2006B;
    color: white;
    border: 3px solid #009D91;
}