.App {
  /* width: 80%; */
  flex-wrap: wrap;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #009D91;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-image: -webkit-linear-gradient(#D2006B, #D2006B);
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  
  height: calc(100vh - 60px - 20px);
}