.News {
    width: 75%;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: scroll;
}
.News svg {
    width: 48px;
}

.News .user-list li {
    list-style-type: none;
}

.News .user-list input {
    margin-right: 16px;
}